@* Display some useful information on each page. *@
<div class="row" style="margin-left: 0; margin-right: 0">
    <div class="col-md-12">
        <div class="col-md-4 text-center" style="margin-bottom: 30px">
            <h4>Sky API</h4>
            <h6>Learn more about Sky API</h6>
            <p><a href="https://developer.blackbaud.com/skyapi/docs/getting-started">Getting started as a Sky API developer</a></p>
            <p><a href="https://developer.blackbaud.com/skyapi/docs/createapp">Managing a Sky API application</a></p>
        </div>

        <div class="col-md-4 text-center" style="margin-bottom: 30px">
            <h4>Authorization</h4>
            <h6>Learn more about OAuth code grant flow</h6>
            <p><a href="https://developer.blackbaud.com/skyapi/docs/authorization/auth-code-flow">Sky API authorizaton code flow</a></p>
            <p><a href="https://oauth.net/2/grant-types/authorization-code/">OAuth authorization code grant type</a></p>
        </div>

        <div class="col-md-4 text-center" style="margin-bottom: 30px">
            <h4>Payments</h4>
            <h6>Learn more about payments functionality</h6>
            <p><a href="https://developer.sky.blackbaud.com/docs/services/payments/">Payments endpoint reference</a></p>
            <p><a href="https://developer.blackbaud.com/skyapi/beta/payments/checkout">Checkout reference</a></p>
        </div>
    </div>
</div>